
<div id="main">

    <div style="height: 500px" id="sidebar">
        <ngx-monaco-editor class="my-code-editor card card-body" style="height: 100%;width:650px;"
            [options]="editorOptions" [model]="model" [(ngModel)]="code" (onInit)="onInit($event)"></ngx-monaco-editor>
    </div>

    <div style="height: 500px" id="page-wrap">
        <textarea name="input" id="input" cols="30" rows="10" class="card card-body"
            style="height: 45%;width:650px;top: 22px;" placeholder="Enter input here"></textarea>
    </div>

    <div style="height: 500px">
        <textarea name="output" id="output" cols="30" rows="10" class="card card-body"
            style="height: 45%;width:650px;top: 264px;right: 649px;" placeholder="Output"></textarea>
    </div>
</div>